@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.authorization-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-form {
  margin-top: 10px;
}

.main-form {
  margin-top: 50px;
}



.ui-widget, .ui-widget .ui-widget {
    font-size: 100%;
    font-family: 'Roboto Condensed','Noto+Sans+TC', sans-serif !important;
}

.new {
	font-family: 'Roboto Condensed','Noto+Sans+TC', sans-serif !important;
	font-size: 150%;
}

body {
	
	/*background-color: yellow;*/
	
	
	font-family: 'Roboto Condensed','Noto+Sans+TC', sans-serif !important;	
	
	
}
