.authorization-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-form {
  margin-top: 10px;
}

.main-form {
  margin-top: 50px;
}

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

.ui-widget, .ui-widget .ui-widget {
    font-size: 100%;
    font-family: 'Oswald', sans-serif !important;
}

.new {
	font-family: 'Oswald', sans-serif !important;
	font-size: 150%;
}

body {
	/**
	background-color: yellow;
	*/
	/*
	font-family: 'Oswald', sans-serif !important;	
	*/
}
	